<div class="min-h-screen flex items-center justify-center bg-cover bg-center bg-gradient-overlay"
    *ngIf="companyDocumentStatus">
    <div class="max-w-3xl w-full pb-8">
        <div class="pt-8 pb-1">
            <nav class="flex sm:mb-2" aria-label="Breadcrumb">
                <div class="w-full hidden sm:block cursor-pointer" routerLink="/home">
                    <div class="twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                        <i class="pi pi-arrow-left text-primary"></i>
                    </div>
                </div>
                <a
                    class="text-primary w-full text-center text-[22px] leading-6 whitespace-nowrap sm:leading-8 sm:text-[32px] font-semibold  md:ml-2">
                    Add Product Details
                </a>
                <a class="w-full hidden sm:block"></a>
            </nav>
        </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div>
                <div class="input-container flex flex-col p-6 md:p-0">
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="name" class="block text-sm text-gray-700 font-custom">Product Name <span
                                    class="text-red">*</span></label>
                            <input required pInputText id="name" type="text" placeholder="Enter Product Name"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="name">
                            <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched"
                                class="text-red-600 text-sm">
                                Product Name is required.
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="strainTypes" class="block text-sm text-gray-700 font-custom">Strain Types <span
                                    class="text-red">*</span></label>
                            <p-dropdown [required]="true" class="w-full" placeholder="Select strain type"
                                [options]="strainTypes" optionLabel="type" formControlName="strain_type"></p-dropdown>
                            <div *ngIf="productForm.get('strain_type')?.invalid && productForm.get('strain_type')?.touched"
                                class="text-red-600 text-sm">
                                Strain Type is required.
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="thcRange" class="block text-sm text-gray-700 font-custom">THC Range <span
                                    class="text-red">*</span></label>
                            <p-dropdown [required]="true" class="w-full" [options]="thcRange"
                                placeholder="Select THC range" optionLabel="range"
                                formControlName="thc_range"></p-dropdown>
                            <div *ngIf="productForm.get('thc_range')?.invalid && productForm.get('thc_range')?.touched"
                                class="text-red-600 text-sm">
                                THC Range is required.
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="categories" class="block text-sm text-gray-700 font-custom">Categories <span
                                    class="text-red">*</span></label>
                            <p-dropdown [required]="true" class="w-full" placeholder="Select category"
                                [options]="categories" optionLabel="name" formControlName="category"></p-dropdown>
                            <div *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched"
                                class="text-red-600 text-sm">
                                Category is required.
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="lineage" class="block text-sm text-gray-700 font-custom">Lineage</label>
                            <input pInputText id="lineage" type="text" placeholder="Enter Lineage"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="lineage">
                            <div *ngIf="productForm.get('lineage')?.invalid && productForm.get('lineage')?.touched"
                                class="text-red-600 text-sm">
                                Lineage is required.
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="subCategory"
                                class="block text-sm text-gray-700 font-custom">Sub-Category</label>
                            <p-dropdown [required]="true" class="w-full" placeholder="Select sub-category"
                                [options]="subCategories" optionLabel="name"
                                formControlName="sub_category"></p-dropdown>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="thcTotal" class="block text-sm text-gray-700 font-custom">THC Total (%) <span
                                    class="text-red">*</span></label>
                            <input required pInputText id="thcTotal" type="number" step="0.01"
                                placeholder="Enter THC Total"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="thc_total">
                            <div *ngIf="productForm.get('thc_total')?.invalid && productForm.get('thc_total')?.touched"
                                class="text-red-600 text-sm">
                                <span *ngIf="productForm.get('thc_total')?.errors?.['required']">THC Total is
                                    required.</span>
                                <span *ngIf="productForm.get('thc_total')?.errors?.['min']">THC Total must be at least
                                    0.</span>
                                <span *ngIf="productForm.get('thc_total')?.errors?.['max']">THC Total must be at most
                                    100.</span>
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="harvestDate" class="block text-sm text-gray-700 font-custom">Harvest Date <span
                                    class="text-red">*</span></label>
                            <p-calendar [showIcon]="true" formControlName="harvest_date"></p-calendar>
                            <div *ngIf="productForm.get('harvest_date')?.invalid && productForm.get('harvest_date')?.touched"
                                class="text-red-600 text-sm">
                                Harvest Date is required.
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="terpene" class="block text-sm text-gray-700 font-custom">Terpene (%) <span
                                    class="text-red">*</span></label>
                            <input required pInputText id="terpene" type="number" step="0.01"
                                placeholder="Enter Terpene"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="terpene">
                            <div *ngIf="productForm.get('terpene')?.invalid && productForm.get('terpene')?.touched"
                                class="text-red-600 text-sm">
                                <span *ngIf="productForm.get('terpene')?.errors?.['required']">Terpene is
                                    required.</span>
                                <span *ngIf="productForm.get('terpene')?.errors?.['min']">Terpene must be at least
                                    0.</span>
                                <span *ngIf="productForm.get('terpene')?.errors?.['max']">Terpene must be at most
                                    100.</span>
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="cbd" class="block text-sm text-gray-700 font-custom">CBD (%) <span
                                    class="text-red">*</span></label>
                            <input required pInputText id="cbd" type="number" step="0.01" placeholder="Enter CBD"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="cbd">
                            <div *ngIf="productForm.get('cbd')?.invalid && productForm.get('cbd')?.touched"
                                class="text-red-600 text-sm">
                                <span *ngIf="productForm.get('cbd')?.errors?.['required']">CBD is required.</span>
                                <span *ngIf="productForm.get('cbd')?.errors?.['min']">CBD must be at least 0.</span>
                                <span *ngIf="productForm.get('cbd')?.errors?.['max']">CBD must be at most 100.</span>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="grade" class="block text-sm text-gray-700 font-custom">Grade (like A-AAAA) <span
                                    class="text-red">*</span></label>
                            <input required pInputText id="grade" type="text" placeholder="Enter Grade"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="grade">
                            <div *ngIf="productForm.get('grade')?.invalid && productForm.get('grade')?.touched"
                                class="text-red-600 text-sm">
                                Grade is required.
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="available" class="block text-sm text-gray-700 font-custom">Available (grams)
                                <span class="text-red">*</span></label>
                            <input required pInputText id="available" type="number" placeholder="Enter Available Grams"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="available">
                            <div *ngIf="productForm.get('available')?.invalid && productForm.get('available')?.touched"
                                class="text-red-600 text-sm">
                                <span *ngIf="productForm.get('available')?.errors?.['required']">Available amount is
                                    required.</span>
                                <span *ngIf="productForm.get('available')?.errors?.['min']">Available amount must be at
                                    least
                                    0.</span>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="growMedia" class="block text-sm text-gray-700 font-custom">Grow Media <span
                                    class="text-red">*</span></label>
                            <p-dropdown [required]="true" class="w-full" placeholder="Select grow media"
                                [options]="growMedia" optionLabel="media" formControlName="grow_media"></p-dropdown>
                            <div *ngIf="productForm.get('grow_media')?.invalid && productForm.get('grow_media')?.touched"
                                class="text-red-600 text-sm">
                                Grow Media is required.
                            </div>

                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="growthMethod" class="block text-sm text-gray-700 font-custom">Growth Method
                                <span class="text-red">*</span></label>

                            <p-dropdown [required]="true" class="w-full" placeholder="Select growth method"
                                [options]="growthMethod" optionLabel="method"
                                formControlName="growth_method"></p-dropdown>
                            <div *ngIf="productForm.get('growth_method')?.invalid && productForm.get('growth_method')?.touched"
                                class="text-red-600 text-sm">
                                Growth Method is required.
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 irradiated">
                        <div class="mt-6 w-full relative">
                            <label for="irradiated" class="block text-sm text-gray-700 font-custom">Irradiated <span
                                    class="text-red">*</span></label>
                            <div class="flex flex-wrap gap-3">
                                <div class="flex align-items-center">
                                    <p-radioButton formControlName="irradiated" ngDefaultControl value="yes"
                                        inputId="irradiatedYes"></p-radioButton>
                                    <label for="irradiatedYes" class="ml-2">Yes</label>
                                </div>
                                <div class="flex align-items-center">
                                    <p-radioButton formControlName="irradiated" value="no"
                                        inputId="irradiatedNo"></p-radioButton>
                                    <label for="irradiatedNo" class="ml-2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="dryMethod" class="block text-sm text-gray-700 font-custom">Dry Method <span
                                    class="text-red">*</span></label>

                            <p-dropdown [required]="true" class="w-full" placeholder="Select dry method"
                                [options]="dryMethod" optionLabel="method" formControlName="dry_method"></p-dropdown>
                            <div *ngIf="productForm.get('dry_method')?.invalid && productForm.get('dry_method')?.touched"
                                class="text-red-600 text-sm">
                                Dry Method is required.
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="mt-6 w-full relative">
                            <label for="budSize" class="block text-sm text-gray-700 font-custom">Bud Size <span
                                    class="text-red">*</span></label>
                            <input required pInputText id="budSize" type="text" placeholder="Enter Bud Size"
                                class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="bud_size">
                            <div *ngIf="productForm.get('bud_size')?.invalid && productForm.get('bud_size')?.touched"
                                class="text-red-600 text-sm">
                                Bud Size is required.
                            </div>

                        </div>
                        <div class="mt-6 w-full relative">
                            <label for="trimMethod" class="block text-sm text-gray-700 font-custom">Trim Method <span
                                    class="text-red">*</span></label>

                            <p-dropdown [required]="true" class="w-full" placeholder="Select trim method"
                                [options]="trimMethod" optionLabel="method" formControlName="trim_method"></p-dropdown>
                            <div *ngIf="productForm.get('trim_method')?.invalid && productForm.get('trim_method')?.touched"
                                class="text-red-600 text-sm">
                                Trim Method is required.
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="flex flex-col w-full ">
                            <div class="mt-6 w-full relative">
                                <label for="tops" class="block text-sm text-gray-700 font-custom">Tops (%) <span
                                        class="text-red">*</span></label>
                                <input required pInputText id="tops" type="number" step="0.01" placeholder="Enter Tops"
                                    class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                    formControlName="tops">
                                <div *ngIf="productForm.get('tops')?.invalid && productForm.get('tops')?.touched"
                                    class="text-red-600 text-sm">
                                    <span *ngIf="productForm.get('tops')?.errors?.['required']">Tops is required.</span>
                                    <span *ngIf="productForm.get('tops')?.errors?.['min']">Tops must be at least
                                        0.</span>
                                    <span *ngIf="productForm.get('tops')?.errors?.['max']">Tops must be at most
                                        100.</span>
                                </div>
                            </div>
                            <div class="mt-6 w-full relative">
                                <label for="mids" class="block text-sm text-gray-700 font-custom">Mids (%) <span
                                        class="text-red">*</span></label>
                                <input required pInputText id="mids" type="number" step="0.01" placeholder="Enter Mids"
                                    class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                    formControlName="mids">
                                <div *ngIf="productForm.get('mids')?.invalid && productForm.get('mids')?.touched"
                                    class="text-red-600 text-sm">
                                    <span *ngIf="productForm.get('mids')?.errors?.['required']">Mids is required.</span>
                                    <span *ngIf="productForm.get('mids')?.errors?.['min']">Mids must be at least
                                        0.</span>
                                    <span *ngIf="productForm.get('mids')?.errors?.['max']">Mids must be at most
                                        100.</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-6 w-full relative">
                            <label for="description" class="block text-sm text-gray-700 font-custom">Description <span
                                    class="text-red">*</span></label>
                            <textarea required pInputTextarea id="description" rows="6" placeholder="Enter Description"
                                class="mt-1 block bg-[#F5F5F5] w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                formControlName="description"></textarea>
                            <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched"
                                class="text-red-600 text-sm">
                                Description is required.
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="flex flex-col w-full ">
                            <div class="mt-6 w-full relative">
                                <label for="lowers" class="block text-sm text-gray-700 font-custom">Lowers (%) <span
                                        class="text-red">*</span></label>
                                <input required pInputText id="lowers" type="number" step="0.01"
                                    placeholder="Enter Lowers"
                                    class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm"
                                    formControlName="lowers">
                                <div *ngIf="productForm.get('lowers')?.invalid && productForm.get('lowers')?.touched"
                                    class="text-red-600 text-sm">
                                    <span *ngIf="productForm.get('lowers')?.errors?.['required']">Lowers is
                                        required.</span>
                                    <span *ngIf="productForm.get('lowers')?.errors?.['min']">Lowers must be at least
                                        0.</span>
                                    <span *ngIf="productForm.get('lowers')?.errors?.['max']">Lowers must be at most
                                        100.</span>
                                </div>
                            </div>
                            <div class="mt-6 w-full relative">
                                <label for="location" class="block text-sm text-gray-700 font-custom">Location <span
                                        class="text-red">*</span></label>
                                <input required pInputText id="location" type="text" placeholder="Enter Location"
                                    class="mt-1 block w-full text-gray-700 p-2 border-0 rounded-md shadow-sm sm:text-sm">
                            </div>
                        </div>

                        <div class="mt-6 w-full relative hidden sm:block">
                            <!-- upload product image show in below div of class "product-image-container" -->
                            <label for="productImages" class="block text-sm text-gray-700 font-custom">Upload Product
                                Images (Max 5 images) </label>
                            <div class="file-upload-container">
                                <label for="file-upload-images" class="file-upload-label">
                                    <i class="pi pi-cloud-upload"></i>
                                    <p>Upload Images</p>
                                    <input type="file" id="file-upload-images"
                                        (change)="onImageSelected($event, 'images')" accept="image/*" multiple />
                                </label>
                                <div *ngIf="productForm.get('images')?.invalid && productForm.get('images')?.touched"
                                    class="text-red-600 text-sm">
                                    Images are required.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row w-full sm:gap-8 flex-wrap sm:flex-nowrap gap-0 ">
                        <div class="flex flex-col w-full ">
                            <div class="mt-6 w-full relative">
                                <label for="license" class="block text-sm text-gray-700 font-custom">COA</label>
                                <div class="file-upload-container">
                                    <label for="file-upload-license" class="file-upload-label">
                                        <i class="pi pi-cloud-upload"></i>
                                        <p>Upload document</p>
                                        <input type="file" id="file-upload-license" (change)="onFileSelected($event)"
                                            accept=".pdf" />

                                    </label>
                                    <div *ngIf="productForm.get('pdf')?.invalid && productForm.get('pdf')?.touched"
                                        class="text-red-600 text-sm">
                                        CoA is required.
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 w-full relative">
                                <div class="mb-4" *ngIf="selectedFile">
                                    <div class="file-details relative text-slate cursor-pointer">
                                        <div class="file-name flex">
                                            <i class="pi pi-file place-content-center font-medium mr-4 text-2xl"></i>
                                            <p class="text-black">{{ selectedFile.name }}</p>
                                        </div>
                                        <i class="pi pi-times top-2 right-2 absolute font-medium"
                                            (click)="removeFile()"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-6 w-full relative block sm:hidden">
                                <!-- upload product image show in below div of class "product-image-container" -->
                                <label for="productImages" class="block text-sm text-gray-700 font-custom">Upload
                                    Product
                                    Images (Max 5 images) </label>
                                <div class="file-upload-container">
                                    <label for="file-upload-images" class="file-upload-label">
                                        <i class="pi pi-cloud-upload"></i>
                                        <p>Upload Images</p>
                                        <input type="file" id="file-upload-images"
                                            (change)="onImageSelected($event, 'images')" accept="image/*" multiple />
                                        <div *ngIf="productForm.get('images')?.invalid && productForm.get('images')?.touched"
                                            class="text-red-600 text-sm">
                                            Images are required.
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="w-full product-image-container">
                            <!-- Here is the code of upload product imgae of products -->
                            <div class="my-4 sm:mb-4 flex flex-wrap justify-between gap-4"
                                *ngIf="imagePreviews.length > 0">
                                <div *ngFor="let preview of imagePreviews; let i = index" class="relative">
                                    <img [src]="preview" alt="Preview" class="h-40 w-40 object-cover rounded-md">
                                    <div
                                        class="remove-img w-6 h-6 absolute top-2 right-2 bg-[#808384] rounded-full flex justify-center items-center">
                                        <i class="pi pi-times text-[0.6rem] text-white cursor-pointer"
                                            (click)="removeImg('images', selectedImageFiles[i])"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-6 md:p-0 ">
                <button type="submit"[disabled]="loading"
                    class="w-full font-bold py-2 px-4 text-lg rounded-md font-custom bg-secondary text-primary-btn"><i
                    class="pi pi-spin pi-spinner" style="font-size: 1.25rem"
                    *ngIf="loading"></i>
                <span *ngIf="!loading">Add product</span></button>
            </div>
        </form>
    </div>
</div>
<div class="w-full h-full relative" *ngIf="!companyDocumentStatus">
    <div class="mt-4 flex items-start justify-center min-h-screen">
        <!--  -->
        <div class="text-center max-w-md w-full">

            <div class="mx-auto mb-4 flex items-center justify-center">
                <img src="../../../../assets/product/add_product_requirement.png" alt="">

                <!-- Replace with the path to your sad leaf image -->
            </div>
            <p class="text-3xl font-bold text-green-800">Complete Company Details
            </p>
            <p class="text-help mb-6">You're nearly there! Finish entering <br>your company information to add your
                products.</p>
            <button (click)="companyDocumentStatus=false" routerLink="/profile/edit-profile"
                class="bg-secondary text-primary font-bold py-2 px-4 rounded-md ">Add Company Details</button>
        </div>
    </div>
    <div class="image-container">
        <img class="absolute top-16 left-0 w-36" src="../../../../assets/wishlist/left_leaf_wishlist.png" alt="">
        <img class="absolute -top-16 right-0 w-36 rotate-90 hidden"
            src="../../../../assets/wishlist/left_leaf_wishlist.png" alt="">
        <img class="absolute bottom-16 right-0 w-36 hidden sm:block"
            src="../../../../assets/wishlist/right_leaf_wishlist.png" alt="">
        <img class="absolute -bottom-10 left-16 w-36 hidden sm:block"
            src="../../../../assets/wishlist/bottom_leaf_wishlist.png" alt="">
    </div>
</div>