i {
    z-index: 1;
}

.p-input-icon-left>.p-icon-wrapper.p-icon,
.p-input-icon-left>i:first-of-type {
    color: #DCDCDCDC;
}
button{
    opacity: 1;
}
button:enabled:active{
    opacity: 0.8;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: none;
}

.input-container {
    label {
        color: #737373;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
        font-family: 'Poppins';

        span {
            color: red;
        }

        @media (max-width:768px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .p-dropdown,
    .p-inputtext {
        background-color: #F5F5F5;
        border: 0px;
    }

    .p-inputtext::placeholder,
    .p-dropdown-label {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #8D8D8D;
        font-family: 'Poppins';
    }
}

.file-upload-container {
    position: relative;
    display: inline-block;
    width: 100%;
    // max-width: 400px;
    padding: 30px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    background: #F5F5F5;
    backdrop-filter: blur(10.9px);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload-label {
    display: block;
    cursor: pointer;
    color: #666;
}

.file-upload-label i {
    font-size: 48px;
    color: #ccc;
}

.file-upload-label p {
    margin: 0;
    font-size: 16px;
}

.file-upload-container input[type="file"] {
    display: none;
}

.file-details {
    // margin-top: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}

.file-details p {
    margin: 0;
    font-size: 16px;
}

.file-details button {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #e74c3c;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.file-details button:hover {
    color: #c0392b;
}

.file-details img {
    display: block;
    max-width: 100%;
    height: auto;
}