<div class="wish-list-container p-4 flex items-center justify-center">
    <!-- Filters -->
     <div class="flex  h-screen  justify-center items-center"*ngIf="loading">
        <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem" ></i>
     </div>
    <div class="max-w-full"*ngIf="!loading">

        <div class="bg-gray-100 py-8 flex justify-start">
            <div class="w-[40%] flex items-center">
                <div routerLink="../profile-details"
                    class="cursor-pointer twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                    <i class="pi pi-arrow-left text-primary"></i>
                </div>
                <a
                    class=" hidden cursor-pointer text-primary md:inline-flex text-[22px] font-medium text-gray-800 md:ml-2">
                    <span routerLink="/profile/profile-details">Profile</span> / Recentlisting
                </a>
            </div>
            <div class="flex justify-start mb-1  w-[60%]" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 ">
                    <li class="inline-flex items-center">
                        <a
                            class="m text-primary inline-flex text-[22px] sm:text-[32px] font-medium text-gray-800 hover:underline md:ml-2">
                            Recent Listing
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <!-- Product Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div *ngFor="let product of products" style="width:100%"
                class="max-w-sm  mx-auto bg-white rounded-lg justify-around overflow-hidden flex">
                <div class="relative cursor-pointer"style="width:40%;"[routerLink]="['/products/productDetails', product.id]">
                    <img [src]="product.images[0]" alt="Canopy Growth" class="sm:w-44 sm:h-48 w-36 h-36"style="border-radius:8px;">
                    <div class="absolute top-2 left-1 sm:left-2 text-white md:text-xs text-[10px] whitespace-nowrap px-2 py-1 rounded-lg posted">Posted:
                        {{product.created_at | date: 'dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="py-4 px-5"style="width:60%">
                    <div class="flex h-full justify-between items-start">
                        <div class="flex flex-col justify-between h-full cursor-pointer whitespace-nowrap"[routerLink]="['/products/productDetails', product.id]">
                            <h2 class="font-bold text-lg text-gray-800">{{product.name}}</h2>
                            <p class="text-sm text-[#262626] font-normal"> <span
                                class="text-side">{{product.categories.name}}</span>
                            <p class="text-sm text-[#262626] font-normal">Strain Type: <span
                                    class="text-side">{{product.strain_types.type}}</span>
                            </p>
                            <p class="text-sm text-[#262626] font-normal">THC Range: <span
                                    class="text-side">{{product.thc_ranges.range}}</span>
                            </p>
                            <p class="text-sm text-[#262626] font-normal">Posted on: <span
                                class="text-side">{{product.created_at | date:'dd-MM-yyyy'}}</span>
                        </p>
                        </div>
                        <button class="text-gray-500"><a [routerLink]="['/profile/editProduct',product.id]">
                            <svg width="36" height="35" viewBox="0 0 36 35" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.88624 25.2222H11.5864L23.2492 14.0896L21.549 12.4667L9.88624 23.5993V25.2222ZM7.5 27.5V22.6597L23.2492 7.65486C23.4878 7.44606 23.7515 7.28472 24.0402 7.17083C24.329 7.05694 24.632 7 24.9494 7C25.2676 7 25.5758 7.05694 25.8741 7.17083C26.1723 7.28472 26.4308 7.45556 26.6496 7.68333L28.2901 9.27778C28.5288 9.48657 28.703 9.73333 28.8127 10.0181C28.9225 10.3028 28.977 10.5875 28.9762 10.8722C28.9762 11.1759 28.9217 11.4656 28.8127 11.7412C28.7037 12.0168 28.5295 12.2681 28.2901 12.4951L12.5708 27.5H7.5ZM22.3842 13.2924L21.549 12.4667L23.2492 14.0896L22.3842 13.2924Z"
                                    fill="#3A5C41" />
                            </svg>

                        </a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-8" *ngIf="products.length>=9">
            <button (click)="viewMoreProducts()" class="bg-[#D1DACF] text-primary text-lg leading-5 font-semibold py-2 px-4 rounded-lg">View
                More</button>
        </div>
    </div>
    <!-- View More Button -->

</div>