<div class="wish-list-container p-4 flex items-center justify-center">
    <!-- Filters -->
     <div class="flex justify-center">
        <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem" *ngIf="loading"></i>
     </div>
    <div class="max-w-full"*ngIf="!loading">

        <div class="bg-gray-100 py-8 flex justify-start">
            <div class="w-[40%] flex items-center">
                <div routerLink="../profile-details"
                    class="cursor-pointer twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                    <i class="pi pi-arrow-left text-primary"></i>
                </div>
                <a
                    class=" hidden cursor-pointer text-primary md:inline-flex text-[22px] font-medium text-gray-800 md:ml-2">
                    <span routerLink="/profile/profile-details">Profile</span> / Recentlisting
                </a>
            </div>
            <div class="flex justify-start mb-1  w-[60%]" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 ">
                    <li class="inline-flex items-center">
                        <a
                            class="m text-primary inline-flex text-[22px] sm:text-[32px] font-medium text-gray-800 hover:underline md:ml-2">
                            Recent Listing
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <!-- Product Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div *ngFor="let product of products" routerLink="/products/productDetails"style="width:100%"
                class="max-w-sm  cursor-pointer mx-auto bg-white rounded-lg justify-around overflow-hidden flex">
                <div class="relative"style="width:40%;">
                    <img [src]="product.images[0]" alt="Canopy Growth" class="sm:w-44 sm:h-48 w-36 h-36"style="border-radius:8px;">
                    <div class="absolute top-2 left-2 text-white text-xs px-2 py-1 rounded-lg posted">Posted:
                        {{product.created_at | date: 'dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="py-4 px-5"style="width:60%">
                    <div class="flex h-full justify-between items-start">
                        <div class="flex flex-col justify-between h-full">
                            <h2 class="font-bold text-lg text-gray-800">{{product.name}}</h2>
                            <p class="text-sm text-[#262626] font-normal">Category: <span
                                class="text-side">{{product.categories.name}}</span>
                            <p class="text-sm text-[#262626] font-normal">Strain Type: <span
                                    class="text-side">{{product.strain_types.type}}</span>
                            </p>
                            <p class="text-sm text-[#262626] font-normal">THC Range: <span
                                    class="text-side">{{product.thc_ranges.range}}</span>
                            </p>
                            <p class="text-sm text-[#262626] flex items-center">
                                <i class="pi pi-map-marker mr-1 text-side font-bold"></i>
                                pune
                            </p>
                        </div>
                        <button class="text-gray-500"><i class="pi pi-heart text-side"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-8" *ngIf="products.length>9">
            <button (click)="viewMoreProducts()" class="bg-[#D1DACF] text-primary text-lg leading-5 font-semibold py-2 px-4 rounded-lg">View
                More</button>
        </div>
    </div>
    <!-- View More Button -->

</div>