$text-secondary: #FFE175;
$bg-primary: #3A5C41;

.chats-container {
    .chats {
        .users-container {
            .users-listing {
                .users-search {
                    .p-inputtext {
                        background: #ededed;
                        border-radius: 20px;
                        border: none;
                        box-shadow: none;
                        outline: none;

                        color: $bg-primary;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;                    }

                    .p-inputtext::placeholder {
                        color: #737373;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;

                    }
                    .p-inputtext:enabled:focus::placeholder{
                        color: transparent;
                    }

                    .p-inputtext:enabled:focus,
                    .p-inputtext:enabled:hover {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }

                    .p-input-icon-left>i:first-of-type {
                        color: #737373;
                        font-weight: 400;
                        font-size: 1.3rem;
                    }
                }

                .users-chats-container {
                    ::-webkit-scrollbar {
                        display: none;
                    }

                    /* For IE, Edge and Firefox */
                    -ms-overflow-style: none;
                    /* IE and Edge */
                    scrollbar-width: none;
                }

                .users-chats {


                    .users-image-container {
                        .user-image {
                            position: relative;
                            width: 50px;
                            height: 50px;

                        }
                    }

                    .active-user {
                        background-color: #ededed;
                        padding: 5px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .user-chats-container {
            .user-chats {
                .user-chats-heading {

                    .img-container {
                        position: relative;
                        width: 50px;
                        height: 50px;

                    }
                }

                .user-chats-messages {
                    .user-chats {
                        ::-webkit-scrollbar {
                            display: none;
                        }

                        /* For IE, Edge and Firefox */
                        -ms-overflow-style: none;
                        /* IE and Edge */
                        scrollbar-width: none;

                        /* Firefox */
                        .left-message {
                            span {
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                                border-top-right-radius: 5px;
                            }
                        }

                        .right-message {
                            span {
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                                border-top-left-radius: 5px;
                            }
                        }
                    }
                }

                .user-chat-send-btn {
                    .user-send {
                        .p-inputtext {
                            background: $bg-primary;
                            border-radius: 10px;
                            color: $text-secondary;
                            border: none;
                        }

                        .p-inputtext:focus::placeholder {
                            color: transparent;
                        }

                        .p-input-icon-left {

                            .p-inputtext {
                                padding-left: 3.5rem;
                            }

                            svg {
                                opacity: 1;

                                :active {
                                    opacity: 0.7;
                                }
                            }
                        }

                        .p-inputtext::placeholder {
                            color: $text-secondary;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 20px;

                            @media(max-width:768px) {
                                font-size: 14px;
                                line-height: 18px;
                            }

                        }

                        .p-inputtext:enabled:focus,
                        .p-inputtext:enabled:hover {
                            border: none;
                            outline: none;
                            box-shadow: none;
                        }

                        .p-input-icon-left>i {
                            top: 34%;
                        }

                        .p-input-icon-right {
                            right: 10px;

                            opacity: 1;

                            :active {
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }

        .mobile-view {
            display: none;

            @media(max-width:768px) {
                display: block;
            }
        }
    }
}