.wish-list-container {
    background-color: rgba(245, 245, 245, 1);

    .single-product {
        width: 100%;
        min-height: 170px;
        max-height: 180px;


        @media(max-width:768px){
            max-height: 170px;
        }
    }
}

.bg-leaf {
    background-image: url('../../../../assets/wishlist/no-wishlist.svg');
    /* Replace with the path to your leaf image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.posted {
    background: rgba(255, 255, 255, 0.24);
}