.container {
    background-color: rgba(245, 245, 245, 1);
}

.bg-leaf {
    background-image: url('../../../../assets/wishlist/no-wishlist.svg');
    /* Replace with the path to your leaf image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}