.p-inputtext {
    background-color: #F5F5F5;
    border: 0px;
}

/* Align flags with the input field */
.custom .ngx-tel-input-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    /* Adjust as needed to align the input correctly */
}

/* Ensure the flag dropdown and input are inline */
.custom .ngx-tel-input {
    width: 100%;
    /* Adjust the width as needed */
    display: flex;
    align-items: center;
}

/* Adjust the flag icon size if needed */
.custom .iti__flag-container {
    margin-right: 0.5rem;
    /* Adjust spacing as needed */
}

/* Additional styling for better visual appearance */
.custom input {
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #ddd;
}
.phone:hover {
    @keyframes vibrate {
        0% {
            transform: rotate(-5deg) translateX(0);
        }

        25% {
            transform: rotate(5deg) translateX(-1px);
        }

        50% {
            transform: rotate(-5deg) translateX(0);
        }

        75% {
            transform: rotate(5deg) translateX(1px);
        }

        100% {
            transform: rotate(-5deg) translateX(0);
        }
    }


    .vibrate-icon {
        animation: vibrate 0.3s linear infinite;
    }

    i {
        scale: 1.2;
        transition: scale 0.5s ease;
    }


}