<!-- app.component.html -->
<div class="flex  h-screen  justify-center items-center my-6" *ngIf="loading">
    <i class="pi pi-spin pi-spinner text-[#3A5C41]" style="font-size: 2rem"></i>
</div>

<div class="max-w-screen-xl mx-auto p-4" *ngIf="!loading">
    <!-- Breadcrumb -->
    <nav class="flex mb-8" aria-label="Breadcrumb">
        <ol class="lg:inline-flex flex w-full items-center space-x-1 ">
            <li class="flex w-full lg:inline-flex items-center justify-between lg:justify-normal">
                <div [routerLink]="['/products']" [queryParams]="{ userId }"
                    class="cursor-pointer twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                    <i class="pi pi-arrow-left text-primary"></i>
                </div>
                <a class="m text-primary hidden lg:inline-flex text-[22px] font-medium hover:underline md:ml-2">
                    Home / Productslisting / {{product.name}}
                </a>
                <div class="flex gap-4 lg:hidden">
                    <button (click)="nevigateToChat(product.user_id)" [disabled]="isAuth"
                        [ngClass]="isAuth?'opacity-50 hover:opacity-50':'opacity-100 '"
                        class="  twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                        <svg width="36" height="20" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M36.8437 10.0731V22.4613C36.8442 23.4375 36.6523 24.4043 36.2789 25.3064C35.9056 26.2085 35.3582 27.0282 34.668 27.7186C33.9777 28.409 33.1582 28.9566 32.2562 29.3302C31.3542 29.7037 30.3874 29.8959 29.4112 29.8956H24.4555L20.368 33.9831C20.2566 34.1012 20.1222 34.1953 19.973 34.2596C19.8239 34.3239 19.6633 34.3571 19.5009 34.3571C19.3385 34.3571 19.1778 34.3239 19.0287 34.2596C18.8796 34.1953 18.7451 34.1012 18.6337 33.9831L14.5462 29.8956H9.5868C8.61059 29.8956 7.64394 29.7033 6.74207 29.3297C5.84019 28.956 5.02076 28.4084 4.33056 27.718C3.64037 27.0277 3.09293 26.2081 2.71952 25.3061C2.34612 24.4042 2.15405 23.4375 2.1543 22.4613V10.0731C2.1543 8.1019 2.93736 6.21142 4.33123 4.81755C5.72509 3.42369 7.61558 2.64063 9.5868 2.64062H29.4093C31.3805 2.64063 33.271 3.42369 34.6649 4.81755C36.0587 6.21142 36.8437 8.1019 36.8437 10.0731Z"
                                stroke="#3A5C41" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button (click)="addProductToWishlit(product.id)" [disabled]="isAuth" [disabled]="isAuth"
                        [ngClass]="isAuth?'opacity-50 hover:opacity-50':'opacity-100 '"
                        class="cursor-pointer twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                        <i [ngClass]="isAuth?'opacity-50 active:scale-100 hover:opacity-50':'opacity-100 active:scale-110'"
                            class="pi text-primary transform  transition duration-300"
                            [ngClass]="isWishlisted?'pi-heart-fill':'pi-heart'"></i>
                    </button>
                </div>
            </li>
        </ol>
    </nav>

    <!-- Main Content -->
    <div class="flex flex-col lg:flex-row mt-4">
        <!-- Image Section -->
        <div class="flex-1">
            <img src="{{bigImageForShowing}}" alt="Product Image" class="w-full max-h-[650px] h-full rounded-lg">
            <div class="flex gap-2 justify-start mt-8 overflow-x-auto">
                <ng-container *ngFor="let image of product.images">
                    <img src="{{image}}" alt="image" (click)="showBigImageWhenClick(image)"
                        [ngStyle]="{'border':image==bigImageForShowing ? '4px solid green':'none'}"
                        class="lg:w-32 lg:h-28 w-20 h-20 rounded-lg cursor-pointer">
                </ng-container>
            </div>
            <div class="p-6 rounded-lg w-full mx-auto mt-24 lg:block hidden relative">
                <div class="w-[500px] h-[300px] absolute top-1/3 left-12 -mt-[20px]" *ngIf="isAuth" style="z-index:1000">
                    <div class="flex flex-col items-center justify-center">
                        <p class="text-primary text-center text-[16px] sm:text-[18px] leading-7 font-semibold mb-4">
                            Create an account or log in to access and view <br>
                            contact details.</p>
                        <button routerLink="/login"
                            class="bg-secondary text-xl font-semibold text-primary py-2 px-4 rounded mb-4">Login to
                            continue</button>
                        <div
                            class="flex items-center justify-center text-primary text-[16px] sm:text-[18px] leading-8 font-semibold">
                            <a class="mr-2">New User?</a>
                            <a routerLink="/signup" class="hover:underline">Create an account</a>
                        </div>
                    </div>
                </div>
                <h2 class="text-[16px] lg:text-[32px] font-semibold mb-4 p-2">Contact Details</h2>
                <div class="space-y-4"
                    [ngStyle]="{'filter':isAuth?'blur(10px)':'none','pointer-events':isAuth?'none':'auto'}">
                    <div class="flex items-center phone">
                        <div class="rounded-full p-2">
                            <div class="twitter-icon w-12 h-12 bg-nav-bg rounded-full flex justify-center items-center">
                                <i class="pi pi-map-marker text-primary "></i>
                            </div>
                        </div>
                        <div class="ml-4">
                            <div class="text-inner text-[20px]">Location</div>
                            <div class="text-lg font-semibold cursor-pointer text-[24px] hover:text-secondary">Ontario,
                                Toronto (5 miles)</div>
                        </div>
                    </div>
                    <div class="flex items-start phone">
                        <div class="rounded-full p-2">
                            <div class="twitter-icon w-12 h-12 bg-nav-bg rounded-full flex justify-center items-center">
                                <i class="pi pi-phone text-primary vibrate-icon"></i>
                            </div>
                        </div>
                        <div class="ml-4">
                            <div class="text-inner text-[20px]">Phone</div>
                            <div *ngIf="!showPhoneNoStatus">
                                <a href="tel:{{product.vendor?.phone_no}}"
                                    class="hover:text-secondary text-lg cursor-pointer font-semibold text-[20px] text-primary mr-2">xx-xxxx-xxxx</a>
                            </div>
                            <div *ngIf="showPhoneNoStatus">
                                <a href="tel:{{product.vendor?.phone_no}}"
                                    class="hover:text-secondary text-lg cursor-pointer font-semibold text-[20px] text-primary mr-2">{{product.vendor?.phone_no}}</a>
                            </div>
                            <div *ngIf="!showPhoneNoStatus">
                                <a (click)="showPhoneNoStatus=true" class="text-inner hover:underline cursor-pointer hover:text-secondary">Click
                                    here to
                                    enquire</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center phone">
                        <div class="rounded-full p-2">
                            <div class="twitter-icon w-12 h-12 bg-nav-bg rounded-full flex justify-center items-center">
                                <i class="pi pi-envelope text-primary"></i>
                            </div>
                        </div>
                        <div class="ml-4">
                            <div class="text-inner text-[20px]">E-Mail</div>
                            <a href="mailto:{{product.vendor?.email}}"
                                class="text-lg hover:text-secondary cursor-pointer font-semibold text-[24px]">{{product.vendor?.email}}</a>
                        </div>
                    </div>
                    <div class="flex items-center phone">
                        <div class="rounded-full p-2">
                            <div class="twitter-icon w-12 h-12 bg-nav-bg rounded-full flex justify-center items-center">
                                <i class="pi pi-calendar text-primary"></i>
                            </div>
                        </div>
                        <div class="ml-4">
                            <div class="text-inner text-[20px]">Uploaded Date</div>
                            <div class="text-lg font-semibold text-[24px]">{{product.created_at | date:'dd-MM-yyyy'}}
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="rounded-full p-2">
                            <img src="{{product.vendor?.avatar}}" alt="Owner Image"
                                class="h-12 w-12 object-cover rounded-full">
                        </div>
                        <div class="ml-4">
                            <div class="text-gray-600">Owner</div>
                            <div class="text-lg font-semibold">{{product.vendor?.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Details Section -->
        <div class="flex-1 lg:ml-8 mt-4 lg:mt-0 pt-4">
            <div class="flex pb-2 items-center justify-between">
                <h1 class="text-5xl font-bold">{{product.name}}</h1>
                <div class="lg:flex hidden gap-4">
                    <button (click)="nevigateToChat(product.user_id)" [disabled]="isAuth"
                        [ngClass]="isAuth?'opacity-50 hover:opacity-50':'opacity-100 '"
                        class=" twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                        <svg width="36" height="20" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M36.8437 10.0731V22.4613C36.8442 23.4375 36.6523 24.4043 36.2789 25.3064C35.9056 26.2085 35.3582 27.0282 34.668 27.7186C33.9777 28.409 33.1582 28.9566 32.2562 29.3302C31.3542 29.7037 30.3874 29.8959 29.4112 29.8956H24.4555L20.368 33.9831C20.2566 34.1012 20.1222 34.1953 19.973 34.2596C19.8239 34.3239 19.6633 34.3571 19.5009 34.3571C19.3385 34.3571 19.1778 34.3239 19.0287 34.2596C18.8796 34.1953 18.7451 34.1012 18.6337 33.9831L14.5462 29.8956H9.5868C8.61059 29.8956 7.64394 29.7033 6.74207 29.3297C5.84019 28.956 5.02076 28.4084 4.33056 27.718C3.64037 27.0277 3.09293 26.2081 2.71952 25.3061C2.34612 24.4042 2.15405 23.4375 2.1543 22.4613V10.0731C2.1543 8.1019 2.93736 6.21142 4.33123 4.81755C5.72509 3.42369 7.61558 2.64063 9.5868 2.64062H29.4093C31.3805 2.64063 33.271 3.42369 34.6649 4.81755C36.0587 6.21142 36.8437 8.1019 36.8437 10.0731Z"
                                stroke="#3A5C41" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button (click)="addProductToWishlit(product.id)" [disabled]="isAuth"
                        [ngClass]="isAuth?'opacity-50 hover:opacity-50':'opacity-100 '"
                        class=" twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                        <i [ngClass]="isAuth?'opacity-50 active:scale-100 hover:opacity-50':'opacity-100 active:scale-110'"
                            class="pi text-primary transform transition duration-300"
                            [ngClass]="isWishlisted?'pi-heart-fill':'pi-heart'"></i>
                    </button>
                </div>
            </div>
            <p class="text-2xl text-help pb-4">From {{product.vendor?.company?.company_name}}</p>
            <div class="flex items-center pb-4">
                <div class="flex gap-2 items-center">
                    <p-rating [(ngModel)]="totalRating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                <span class="ml-2 text-gray-600">Ratings {{product.ratings}}</span>
            </div>

            <button [disabled]="isAuth" [ngClass]="isAuth?'opacity-50 hover:opacity-50':'opacity-100 '"
                (click)="subscribeCompany(product.vendor?.company?.id || '')" *ngIf="isSubscribed"
                class="mt-2 w-2/4 bg-primary text-xl font-semibold text-secondary py-2 px-4 rounded">Subscribed
                ✓</button>

            <button [disabled]="isAuth" [ngClass]="isAuth?'opacity-50 hover:opacity-50':'opacity-100 '"
                (click)="subscribeCompany(product.vendor?.company?.id || '')" *ngIf="!isSubscribed"
                class="mt-2 w-2/4 bg-secondary text-xl font-semibold text-primary py-2 px-4 rounded">Subscribe</button>

            <h2 class="text-xl font-semibold pt-10">Description</h2>

            <p class="mt-4 text-help">{{ showAll ? product.description : (product.description | slice:0:charLimit) +
                '...' }}
                <span class="text-[#698AFD] cursor-pointer" (click)="toggleViewMore()">
                    {{ showAll ? 'View Less' : 'View More' }}

                </span>
            </p>

            <div class="w-full h-[0.5px] border border-primary mt-10 mb-8"></div>

            <div class="mt-4">
                <h2 class="text-xl font-semibold">Product Details</h2>
                <div class="grid grid-cols-1 gap-4 mt-4 text-gray-700">
                    <div class="font-semibold w-full border-b leading-10">
                        Category: <span class=" text-help float-right">
                            {{product.categories.name}}
                        </span>
                    </div>
                    <div class="font-semibold w-full border-b leading-10">
                        Sub Category: <span class=" text-help float-right">
                            {{product.subCategory ? product.subCategory.name:''}}
                        </span>
                    </div>
                    <div class="font-semibold w-full border-b leading-10">
                        Strain Type: <span class=" text-help float-right">
                            {{product.strain_types.type}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Lineage:
                        <span class=" text-help float-right">
                            {{product.lineage}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Harvest Date:
                        <span class=" text-help float-right ">
                            {{product.harvest_date | date:'dd-MM-yyyy'}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        THC Total:
                        <span class=" text-help float-right ">
                            {{product.thc_total}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        CBD:
                        <span class=" text-help float-right ">
                            {{product.cbd}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Terpene:
                        <span class=" text-help float-right ">
                            {{product.terpene}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Available:
                        <span class=" text-help float-right ">
                            {{product.available}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Grade:
                        <span class=" text-help float-right ">
                            {{product.grade}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Growth Method:
                        <span class=" text-help float-right ">
                            {{product.growth_methods.method}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Grow Media:
                        <span class=" text-help float-right ">
                            {{product.grow_medias.media}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Dry Method:
                        <span class=" text-help float-right ">
                            {{product.dry_methods.method}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Trim Method:
                        <span class=" text-help float-right ">
                            {{product.trim_methods.method}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Irradiated:
                        <span class=" text-help float-right ">
                            {{product.irradiated?'Yes':'No'}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Bud Size:
                        <span class=" text-help float-right ">
                            {{product.bud_size}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Tops:
                        <span class=" text-help float-right ">
                            {{product.tops}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10 border-b">
                        Mids:
                        <span class=" text-help float-right ">
                            {{product.mids}}
                        </span>
                    </div>
                    <div class="font-semibold w-full leading-10">
                        Lowers:
                        <span class=" text-help float-right ">
                            {{product.lowers}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Details -->
    <div class="mt-8 lg:grid grid-cols-1 lg:grid-cols-2 gap-4 flex flex-col-reverse">
        <!-- Rate Product -->
        <div class="lg:p-4 border-0 lg:border-t-[2px] border-primary">
            <h2 class="text-xl font-semibold">Rate this product</h2>
            <p class="mt-2 text-[12px] text-help">Tell others what you think</p>
            <div class="flex mt-2 text-yellow-500 rate-product">
                <p-rating [(ngModel)]="rate" (click)="giveRatingToProduct()" [disabled]="isAuth"
                    [ngStyle]="{'filter':isAuth?'blur(4px)':'none'}" [cancel]="false"></p-rating>
            </div>
        </div>

        <!-- Contact Details -->
        <div class="rounded-lg w-full mx-auto lg:hidden relative">
        <div class="w-full sm:w-[500px] h-[300px] absolute top-1/3 sm:left-12 -mt-[30px] " *ngIf="isAuth" style="z-index:1000">
                <div class="flex flex-col items-center justify-center">
                    <p class="text-primary text-center text-[16px] sm:text-[18px] leading-7 font-semibold mb-4">Create
                        an account or log in to access and view <br>
                        contact details.</p>
                    <button routerLink="/login"
                        class="bg-secondary text-xl font-semibold text-primary py-2 px-4 rounded mb-4">Login to
                        continue</button>
                    <div
                        class="flex items-center justify-center text-primary text-[16px] sm:text-[18px] leading-8 font-semibold">
                        <a class="mr-2">New User?</a>
                        <a routerLink="/signup" class="hover:underline">Create an account</a>
                    </div>
                </div>
            </div>
            <h2 class="text-[18px] lg:text-[32px] font-semiboldmb-4 p-2">Contact Details</h2>
            <div class="space-y-4"
                [ngStyle]="{'filter':isAuth?'blur(10px)':'none','pointer-events':isAuth?'none':'auto'}">
                <div class="flex items-center phone">
                    <div class="rounded-full p-2">
                        <div class="twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                            <i class="pi pi-map-marker text-primary vibrate-icon"></i>
                        </div>
                    </div>
                    <div class="ml-4">
                        <div class="text-inner text-[10px] lg:text-[20px] hover:text-secondary">Location</div>
                        <div class="text-lg lg:font-semibold text-[12px] lg:text-[24px] hover:text-secondary">Ontario,
                            Toronto (5 miles)
                        </div>
                    </div>
                </div>
                <div class="flex items-center phone">
                    <div class="rounded-full p-2">
                        <div class="twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                            <i class="pi pi-phone text-primary"></i>
                        </div>
                    </div>
                    <div class="ml-4">
                        <div class="text-inner text-[10px] lg:text-[20px] hover:text-secondary">Phone</div>
                        <a
                            class="text-lg lg:font-semibold text-[12px] lg:text-[20px] text-primary hover:text-secondary">{{product.vendor?.phone_no}}</a>
                        <a href="tel:{{product.vendor?.phone_no}}"
                            class="text-inner hover:underline text-[10px] lg:text-[20px]hover:text-secondary">Click here
                            to
                            enquire</a>
                    </div>
                </div>
                <div class="flex items-center phone">
                    <div class="rounded-full p-2">
                        <div class="twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                            <i class="pi pi-envelope text-primary"></i>
                        </div>
                    </div>
                    <div class="ml-4">
                        <div class="text-inner text-[10px] lg:text-[20px] hover:text-secondary">E-Mail</div>
                        <a href="mailto:{{product.vendor?.email}}"
                            class="text-lg lg:font-semibold text-[12px] lg:text-[24px] hover:text-secondary">{{product.vendor?.email}}</a>
                    </div>
                </div>
                <div class="flex items-center phone">
                    <div class="rounded-full p-2">
                        <div class="twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                            <i class="pi pi-calendar text-primary"></i>
                        </div>
                    </div>
                    <div class="ml-4">
                        <div class="text-inner text-[10px] lg:text-[20px] hover:text-secondary">Uploaded Date</div>
                        <div class="text-lg lg:font-semibold text-[12px] lg:text-[24px] hover:text-secondary">
                            {{product.created_at | date: 'dd-MM-yyyy'}}</div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="rounded-full p-2">
                        <img [src]="product.vendor?.avatar" alt="Owner Image"
                            class="h-12 w-12 object-cover rounded-full">
                    </div>
                    <div class="ml-4">
                        <div class="text-gray-600 text-[10px] lg:text-[20px] ">Owner</div>
                        <div class="text-lg lg:font-semibold text-[12px] lg:text-[24px]">{{product.vendor?.name}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- COA Report -->
        <div class="px-0 py-4 border-0 lg:border-t-[2px] border-primary">
            <div class="">
                <p class="leading-8 text-xl font-semibold text-[#262626]">COA Report </p>
            </div>
            <div class="bg-gray-100 p-4 flex items-center justify-between"
                [ngStyle]="{'filter':isAuth?'blur(5px)':'none','pointer-events':isAuth?'none':'auto'}">
                <span class="text-gray-700 flex items-center text-[12px] lg:text-[20px]">
                    <i style="font-size: 1.5rem;" class="pi pi-file place-content-center font-bold mr-4 text-2xl"></i>
                    COA Report.pdf
                </span>
                <a target="_blank" [href]="product.coa_document"
                    class="py-2 px-4 rounded font-medium text-[12px] lg:text-[20px]">View
                    Report</a>
            </div>
        </div>
    </div>
</div>