$breakpoint-lg: 1024px;
$breakpoint-sm: 640px;
$secondary: #FFE175;

.footer-container {
    padding-left: 86px;
    padding-top: 40px;
    padding-bottom: 20px;

    .left-side {
        .logo-container {
            .logo {
                width: 169px;
                height: 46px;
            }
        }

        .footer-heading-container {
            .footer-heading {
                color: #ECFEE6;
            }
        }

        .button-container {
            .buttons {

                button {
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    align-items: center;
                    color: $secondary;
                    display: flex;
                    flex-direction: nowrap;
                    white-space: nowrap;
                    border: 1px solid $secondary;

                    @media(max-width:768px){
                        font-size: 16px;
                    }
                    @media(max-width:350px){
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .right-side{
        .link-groups{
            .explore-link{
                @media(max-width:330px){
                    margin-right: 20px!important;
                }
            }
            li{
                margin-bottom: 15px;
            }
        }
    }
    .p-button.p-button-outlined{
        color:cyan!important;
    }

    @media(max-width: $breakpoint-sm) {
        padding-left: 50px;
        padding-right:20px;
        padding-top: 37px;
        padding-bottom: 60px;
    }
    @media(max-width: 500px) {
        padding-left: 20px;
        padding-right:20px;
        padding-top: 37px;
        padding-bottom: 0px;
    }
}