<div class="subscribed-listing-container">

    <div class=" py-4">
        <nav class="flex justify-between" aria-label="Breadcrumb">
            <ol class="inline-flex items-center w-full space-x-1 justify-end">
                <li class="inline-flex items-center cursor-pointer"routerLink="../profile-details">
                    <div class="twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                        <i class="pi pi-arrow-left text-primary"></i>
                    </div>
                    <a class="m text-primary inline-flex text-[22px] font-medium  hover:underline md:ml-2">
                        Home / Subscribed
                    </a>
                </li>
            </ol>
            <div class="heading w-[79%]">
                <p class="text-center text-primary text-[32px] font-semibold">Subscribed</p>
            </div>
            <div class="heading w-full"></div>
        </nav>
    </div>

    <div class="recent-subscribed flex justify-center">
        <table class="max-w-[850px] w-full border-spacing-x-4 h-full">
            <caption class="caption-bottom ">
                <div class="py-6">
                    <!-- <a routerLink="../subscribed-listing"
                        class="font-lg leading-4 font-semibold bg-[#D1DACF] text-primary rounded-lg py-1 px-2">View
                        More</a> -->
                </div>
            </caption>
            <tbody>
                <tr style="height:10px"></tr>
                <tr>
                    <td class="">
                        <a href="" class="img-container">
                            <img src="../../../../../assets/profile/user.jpg" class="shadow-4" />
                        </a>
                    </td>
                    <td >Vandan Sharma</td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="subscribed-btn-container">
                            <button (click)="toggleBtn(0)" *ngIf="!btn[0]"
                                class="bg-secondary text-base sm:text-lg font-medium text-primary py-2 px-4 rounded">Subscribe</button>

                            <button (click)="toggleBtn(0)" *ngIf="btn[0]"
                                class="bg-primary text-base sm:text-lg font-medium text-secondary py-2 px-4 rounded">Subscribed</button>

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <a href="" class="img-container">
                            <img src="../../../../../assets/profile/user.jpg" class="shadow-4" />
                        </a>
                    </td>
                    <td>Vandan Sharma</td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="subscribed-btn-container">
                            <button (click)="toggleBtn(1)" *ngIf="!btn[1]"
                                class="bg-secondary text-base sm:text-lg font-medium text-primary py-2 px-4 rounded">Subscribe</button>

                            <button (click)="toggleBtn(1)" *ngIf="btn[1]"
                                class="bg-primary text-base sm:text-lg font-medium text-secondary py-2 px-4 rounded">Subscribed
                                </button>

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <a href="" class="img-container">
                            <img src="../../../../../assets/profile/user.jpg" class="shadow-4" />
                        </a>
                    </td>
                    <td>Vandan Sharma</td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="subscribed-btn-container">
                            <button (click)="toggleBtn(2)" *ngIf="!btn[2]"
                                class="bg-secondary text-base sm:text-lg font-medium text-primary py-2 px-4 rounded">Subscribe</button>

                            <button (click)="toggleBtn(2)" *ngIf="btn[2]"
                                class="bg-primary text-base sm:text-lg font-medium text-secondary py-2 px-4 rounded">Subscribed
                                </button>

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <a href="" class="img-container">
                            <img src="../../../../../assets/profile/user.jpg" class="shadow-4" />
                        </a>
                    </td>
                    <td>Vandan Sharma</td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="subscribed-btn-container">
                            <button (click)="toggleBtn(3)" *ngIf="!btn[3]"
                                class="bg-secondary text-base sm:text-lg font-medium text-primary py-2 px-4 rounded">Subscribe</button>

                            <button (click)="toggleBtn(3)" *ngIf="btn[3]"
                                class="bg-primary text-base sm:text-lg font-medium text-secondary py-2 px-4 rounded">Subscribed
                                </button>

                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <a href="" class="img-container">
                            <img src="../../../../../assets/profile/user.jpg" class="shadow-4" />
                        </a>
                    </td>
                    <td>Vandan Sharma</td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="subscribed-btn-container">
                            <button (click)="toggleBtn(4)" *ngIf="!btn[4]"
                                class="bg-secondary text-base sm:text-lg font-medium text-primary py-2 px-4 rounded">Subscribe</button>

                            <button (click)="toggleBtn(4)" *ngIf="btn[4]"
                                class="bg-primary text-base sm:text-lg font-medium text-secondary py-2 px-4 rounded">Subscribed
                                </button>

                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>