$text-primary: #3A5C41;
$bg-primary: #3A5C41;

.subscribed-listing-container {
    .recent-subscribed {
        table {
            tbody {

                tr {
                    height: 100px;

                    td {
                        text-align: start;
                        color: $text-primary;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;

                        span {
                            display: flex;
                            justify-content: end;
                            height: 40px;

                            @media(max-width:768px) {
                                justify-content: center;

                            }
                        }

                        @media (max-width:768px) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }

                    td:first-child {
                        width: 120px;
                    }

                    .img-container {
                        display: flex;
                        justify-content: start;

                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        border-radius: 100%;

                        img {
                            width: 80px;
                            height: 80px;

                            @media(max-width:768px) {
                                width: 60px;
                                height: 60px;

                            }
                        }

                    }

                }

                tr:not(:first-child) {
                    border-bottom: 1px solid #DCDCDC;
                }
            }
        }
    }
}