<div class="flex  h-screen  justify-center items-center"*ngIf="loading">
    <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem" ></i>
 </div>
<div class="subscribed-listing-container"*ngIf="!loading">
    <div class="w-full flex justify-center items-center">
        <div class=" py-4 flex sm:max-w-[65%] w-full">
            <div class="cursor-pointer flex items-center w-[30%] sm:w-[45%]">
                <div routerLink="../profile-details"
                    class="cursor-pointer twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                    <i class="pi pi-arrow-left text-primary"></i>
    
                </div>
                <a class=" hidden cursor-pointer text-primary lg:flex text-[22px] font-medium text-gray-800 md:ml-2">
                    <span routerLink="/home">Home</span> / Products Listing
                </a>
            </div>
            <div class="flex justify-start items-center w-[70%] sm:w-[55%]" aria-label="Breadcrumb">
                <a
                    class="text-primary text-center inline-flex text-[22px] font-medium text-gray-800 ">
                    Subscribed
                </a>
            </div>
        </div>
    </div>

    <div class="recent-subscribed flex justify-center">
        <table class="sm:max-w-[65%] w-full border-spacing-x-4 h-full">
            <caption class="caption-bottom ">
                <div class="py-6">
                    <button (click)="viewMore()"*ngIf="!loading"[hidden]="total<=params.limit"
                        class="font-lg leading-4 font-medium bg-[#D1DACF] text-primary rounded-lg py-2 px-2">View
                        More</button>
                </div>
            </caption>
            <tbody>
                <tr style="height:10px"></tr>
                <tr *ngFor="let data of subscribedCompanyes;let i=index;">
                    <td class="">
                        <a  class="img-container">
                            <img [src]="data.Company.user.avatar" alt="user image" class="shadow-4" />
                        </a>
                    </td>
                    <td>{{data.Company.company_name}}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="subscribed-btn-container">
                            <button (click)="subscribe(data.companyId)"*ngIf="!data.subscribedStatus"
                                class="bg-secondary text-base sm:text-lg font-medium text-primary py-2 px-4 rounded-lg">Subscribe</button>

                            <button (click)="unSubscribe(data.companyId)"*ngIf="data.subscribedStatus"
                                class="bg-primary text-base sm:text-lg font-medium text-secondary py-2 px-4 rounded-lg">Subscribed</button>

                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>