<div class="wish-list-container p-4 flex h-full justify-center">
    <!-- Filters -->
    <div class="flex  h-screen  justify-center items-center mb-6" *ngIf="loadingForProduct">
        <i class="pi pi-spin pi-spinner text-[#3A5C41]" style="font-size: 2rem"></i>
    </div>
    <div class="" *ngIf="!loadingForProduct">

        <div class="bg-gray-100 sm:py-8">
            <nav class="flex sm:mb-8 mb-2" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 ">
                    <li class="inline-flex items-center">
                        <div routerLink="/home"
                            class="cursor-pointer twitter-icon w-10 h-10 bg-nav-bg rounded-full flex justify-center items-center">
                            <i class="pi pi-arrow-left text-primary"></i>
                        </div>
                        <a
                            class=" hidden cursor-pointer text-primary sm:inline-flex text-[22px] font-medium text-gray-800 md:ml-2">
                            <span routerLink="/home">Home</span> / Products Listing
                        </a>
                    </li>
                </ol>
            </nav>
            <div class=" w-full flex-col lg:flex-row flex items-start sm:items-center justify-between mb-4 space-y-2">
                
                
            </div>
        </div>

        <!-- Product Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div *ngFor="let product of products" style="width:100%"
                class="max-w-sm single-product mx-auto bg-white rounded-lg justify-around overflow-hidden flex">
                <div class="relative cursor-pointer h-full" style="min-width:40%"
                    [routerLink]="['/products/productDetails', product.id]">
                    <img [src]="product.images[0]" alt="Canopy Growth" loadig="lazy" style="border-radius:8px;"
                        class=" h-full  lg:h-44 w-32 md:w-32 lg:w-36 object-cover">
                    <div class="absolute top-2 left-1 sm:left-2 lg:left-1 text-white md:text-xs text-[10px] whitespace-nowrap px-2 py-1 rounded-lg posted">Posted:
                        {{product.created_at | date: 'dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="py-4 px-5" style="min-width:63%">
                    <div class="flex h-full justify-between items-start">
                        <div class="flex flex-col justify-between h-full whitespace-nowrap">
                            <h2 class="font-bold text-lg text-gray-800">{{product.name}}</h2>
                            <p class="text-sm text-help font-normal">{{product.categories.name}}</p>
                            <p class="text-sm text-[#262626] font-normal">Strain Type: <span
                                    class="text-side">{{product.strain_types.type}}</span>
                            </p>
                            <p class="text-sm text-[#262626] font-normal">THC Range: <span
                                    class="text-side">{{product.thc_ranges.range}}</span>
                            </p>
                            <p class="text-sm text-[#262626] flex items-center">
                                <i class="pi pi-map-marker mr-1 text-side font-bold"></i>
                                Pune ( {{product.distance | number:'1.1-1'}} km )
                            </p>
                        </div>

                        <button class="text-gray-500"[disabled]="isAuth" (click)="addProductToWishlist(product.id)"><i [ngClass]="isAuth?'opacity-50 active:scale-100':'opacity-100 active:scale-110'"
                                class="pi text-primary transform transition duration-300"
                                [ngClass]="product.isWishlisted?'pi-heart-fill':'pi-heart'"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="!loadingForProduct">
            <div *ngIf="!products.length || loadingError "
                class="flex justify-center items-center text-primary text-base sm:text-lg leading-5 font-semibold py-2 sm:px-4 px-3 ">
                Product Not Found
            </div>
        </ng-container>

        <div class="flex justify-center mt-8" *ngIf="!loadingForProduct && products.length">
            <button (click)="viewMoreProducts()" [hidden]="totalProductCount<params.limit"
                class="bg-[#D1DACF] text-primary text-base sm:text-lg leading-5 font-semibold py-2 sm:px-4 px-3 rounded-xl">View
                More</button>
        </div>
    </div>
    <!-- View More Button -->

</div>