// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $cannatrader-primary: mat.define-palette(mat.$indigo-palette);
// $cannatrader-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $cannatrader-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $cannatrader-theme: mat.define-light-theme((color: (primary: $cannatrader-primary,
//                 accent: $cannatrader-accent,
//                 warn: $cannatrader-warn,
//             )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($cannatrader-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Poppins";
    }
}

@import "primeicons/primeicons.css";

$bg-primary: #3A5C41;
$secondary: #FFE175;

body.no-scroll {
    overflow: hidden;
}

button {
    font-family: 'Quicksand';
}

h2 {
    font-size: 40px;
}

.p-button {
    opacity: 1;
}

.p-button:hover {
    opacity: 0.8;
}

.p-button:enabled:active {
    opacity: 0.9;
}

button {
    opacity: 1;
}

button:hover {
    opacity: 0.8;
}


button:enabled:active {
    opacity: 0.9;
}

.p-dropdown-trigger .p-icon-wrapper {
    transition: transform 0.3s ease;
}

.p-dropdown-open .p-dropdown-trigger .p-icon-wrapper {
    transform: rotate(180deg);
}

.p-inputtext:focus::placeholder {
    color: transparent;
}



app-login,
app-register {
    input:-webkit-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        color: #fafafa !important;
        -webkit-text-fill-color: #fafafa !important;
        caret-color: #fafafa !important;


    }

    input:-moz-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        color: #fafafa !important;
        -webkit-text-fill-color: #fafafa !important;

    }

    input:-webkit-autofill:focus {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        color: #fafafa !important;
        -webkit-text-fill-color: #fafafa !important;

    }

    input:-webkit-autofill:active {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        color: #fafafa !important;
        -webkit-text-fill-color: #fafafa !important;
    }

    //for crome

    input[type="number"]::-ms-clear,
    input[type="number"]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    /* For Internet Explorer and old Edge */
    input[type="number"]::-ms-clear,
    input[type="number"]::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }
}

app-login {
    .p-password {
        background: none;
    }

    .p-inputtext {
        background: #FFFFFF3D;
        backdrop-filter: blur(10.9px);
        border: 0;
        color: #fafafa;
    }



    .p-inputtext:enabled:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
        border-color: unset;
    }

    .p-input-icon-right>.p-icon-wrapper {
        color: whitesmoke;
    }
}

app-register {
    .p-password {
        background: none;
    }


    .p-inputtext,
    .p-inputnumber {
        background: #FFFFFF3D;
        backdrop-filter: blur(10.9px);
        border: 0;
        color: #fafafa;
    }

    .p-inputtext:enabled:focus,
    .p-inputnumber:enabled:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
        border-color: unset;
    }

    .p-input-icon-right>.p-icon-wrapper {
        color: whitesmoke;
    }
}

app-reset-password {
    .p-password {
        background: none;
    }

    .p-inputtext {
        background: #FFFFFF3D;
        backdrop-filter: blur(10.9px);
        border: 0;
        color: #fafafa;
    }

    .p-inputtext:enabled:focus {
        outline: none;
        outline-offset: 0;
        box-shadow: none;
        border-color: unset;
    }

    .p-input-icon-right>.p-icon-wrapper {
        color: whitesmoke;
    }
}

app-home {
    .filter-button {
        .p-button {
            width: 100% !important;
            background-color: $bg-primary;
            border: unset;

        }

        .p-button:hover {
            background-color: $bg-primary;
        }

        .p-button:focus {
            box-shadow: unset;
        }
    }

    .filters {
        .filter {
            .p-dropdown {
                width: 100%;
                background: #ECFEE6;
                border: unset;
                box-shadow: none;

                .p-dropdown-panel {
                    background: #ECFEE6;
                }
            }

            .p-dropdown-open {
                border: 1px solid $bg-primary;
            }

            .p-dropdown .p-dropdown-label.p-placeholder {
                color: $bg-primary !important;

            }
        }
    }

    .p-inputtext {
        font-family: "Poppins";
    }

    .p-component {
        font-family: "Poppins";
    }

    .p-inputtext:enabled:focus {
        box-shadow: unset;
        border-color: $bg-primary;
    }

    .p-inputtext:enabled:hover {
        border-color: $bg-primary;
    }

    .p-dropdown-panel .p-dropdown-items {

        max-height: 200px;
        /* Set a maximum height to enable scrolling */
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .p-dropdown-panel .p-dropdown-items::-webkit-scrollbar {
        display: none;
    }
}

app-add-product {

    //this is for autofill change color
    input:-webkit-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-moz-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:focus {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:active {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    .p-dropdown,
    .p-inputtext {
        width: 100%;
        background-color: #F5F5F5;
        border: 0px;
    }

    .p-dropdown .p-dropdown-label.p-placeholder,
    .p-dropdown-label {
        font-size: 16px;
        font-weight: 500;
        color: #8d8d8d !important;
    }

    .p-dropdown-panel .p-dropdown-items span {
        color: #495057;
        font-size: 16px;
        font-weight: 500;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        border-color: $secondary;
        box-shadow: none;
    }

    p-calendar {
        display: block;
        width: 100%;

        .p-calendar {
            width: 100%;

            .p-inputtext {
                font-size: 16px;
                font-weight: 500;
                color: #8d8d8d !important;
            }
        }

        .p-button {
            border: none;
            background-color: #F5F5F5;
            color: $bg-primary;
        }

        .p-button:focus {
            box-shadow: unset;
        }

        .p-button:enabled:hover {
            background: #F5F5F5;
            color: $bg-primary;
            border-color: unset;
        }

        .p-button:enabled:active {
            background: #F5F5F5;
            border-color: unset;
        }

        .p-button:enabled:focus {
            background: #F5F5F5;
        }
    }

    .irradiated {
        .p-radiobutton .p-radiobutton-box.p-highlight {
            border: 2px solid;
            border-color: $bg-primary;
            background-color: unset;

        }

        .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
            background-color: $bg-primary;
        }

        .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
            border-color: unset;
            background: unset;
            color: unset;
        }

        .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
            box-shadow: none;
        }

        .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
            border-color: unset;
        }
    }
}

app-edit-profile {
    .p-radiobutton .p-radiobutton-box.p-highlight {
        border: 2px solid;
        border-color: $bg-primary;
        background-color: unset;

    }

    .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
        background-color: $bg-primary;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        border-color: unset;
        background: unset;
        color: unset;
    }

    .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
        box-shadow: none;
        border-color: unset;
    }

    .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: $bg-primary;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
        background: unset;
    }

    .change-password-container {
        p-password .p-inputtext {
            background: #F5F5F5;
            border: 0px;
        }

        .p-inputtext:enabled:focus {
            box-shadow: none;
        }

        .p-inputtext {
            font-size: 14px;
        }
    }

    input:-webkit-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        // color: #fafafa !important;
        // -webkit-text-fill-color: #fafafa !important;
        // caret-color: #fafafa !important;


    }

    input:-moz-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        // color: #fafafa !important;
        // -webkit-text-fill-color: #fafafa !important;

    }

    input:-webkit-autofill:focus {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        // color: #fafafa !important;
        // -webkit-text-fill-color: #fafafa !important;

    }

    input:-webkit-autofill:active {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        // color: #fafafa !important;
        // -webkit-text-fill-color: #fafafa !important;
    }



}

app-edit-product {

    .p-dropdown,
    .p-inputtext {
        width: 100%;
        background-color: #F5F5F5;
        border: 0px;
    }

    .p-dropdown:not(.p-disabled).p-focus {
        border-color: $secondary;
        box-shadow: none;
    }

    //this is for autofill change color
    input:-webkit-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-moz-autofill {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:focus {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:-webkit-autofill:active {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    .p-dropdown .p-dropdown-label.p-placeholder,
    .p-dropdown-label {
        font-size: 16px;
        font-weight: 500;
        color: #8d8d8d !important;
    }

    .p-dropdown-panel .p-dropdown-items span {
        color: #495057;
        font-size: 16px;
        font-weight: 500;
    }

    p-calendar {
        display: block;
        width: 100%;

        .p-calendar {
            width: 100%;
        }

        .p-calendar {
            width: 100%;

            .p-inputtext {
                font-size: 16px;
                font-weight: 500;
                color: #8d8d8d !important;
            }
        }

        .p-button {
            border: none;
            background-color: #F5F5F5;
            color: $bg-primary;
        }

        .p-button:focus {
            box-shadow: unset;
        }

        .p-button:enabled:hover {
            background: #F5F5F5;
            color: $bg-primary;
            border-color: unset;
        }

        .p-button:enabled:active {
            background: #F5F5F5;
            border-color: unset;
        }

        .p-button:enabled:focus {
            background: #F5F5F5;
        }
    }

    .p-dialog {
        width: 350px;

        @media(max-width:500px) {
            width: auto;
        }
    }

    .p-dialog-header {
        justify-content: center;
    }

    .pi {
        font-size: 1.5rem;
    }

    .p-dialog .p-dialog-footer {
        display: flex;

        button {
            width: 100%;
        }
    }

    .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .irradiated {
        .p-radiobutton .p-radiobutton-box.p-highlight {
            border: 2px solid;
            border-color: $bg-primary;
            background-color: unset;

        }

        .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
            background-color: $bg-primary;
        }

        .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
            border-color: unset;
            background: unset;
            color: unset;
        }

        .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
            box-shadow: none;
        }

        .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
            border-color: unset;
        }
    }
}

app-header {
    .p-sidebar-icon {
        display: none;
    }

    .p-sidebar-header {
        justify-content: space-between;
    }

    .p-sidebar-right {

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @media(max-width:768px) {
            width: 100%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

app-product-details {
    .twitter-icon {
        .pi {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .p-rating .p-rating-icon.p-icon,
    .p-rating .p-rating-icon.p-rating-icon-active,
    .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
        color: #EDAB00;
    }

    .rate-product {
        .p-rating .p-rating-icon.p-icon {
            width: 3.143rem;
            height: 2.143rem;
            color: #EDAB00;
        }
    }

    .p-rating .p-rating-icon.p-rating-icon-active {
        color: #EDAB00;
    }
}

app-product-listing {


    .custom-last-dropdown {
        .p-dropdown {
            background: #D1DACF;

            .p-inputtext {
                color: $bg-primary;
                font-weight: 700;
            }

        }

        .p-dropdown .p-dropdown-trigger {
            color: $bg-primary;
            margin-left: 10px;
        }

    }

    .custom-new-old-dropdown {
        .p-dropdown {
            background: transparent;
            border: 0px;

            .p-inputtext {
                color: $bg-primary;
                font-weight: 700;
            }

        }

        .p-dropdown .p-dropdown-trigger {
            color: $bg-primary;
            margin-left: 10px;

        }

        .p-dropdown-panel {
            border-radius: 20px;
        }

    }

    .custom-dropdown {
        .p-dropdown-label.p-placeholder {
            color: #fff;
            text-align: center;
            font-family: 'Poppins';

        }

        .p-dropdown .p-dropdown-trigger {
            margin-left: 10px;

        }
    }

    .p-dropdown {
        background: #3A5C41;
        border-radius: 25px;

        .p-inputtext {
            color: white;
            padding: 0.75rem 0 0.75rem 0.75rem;
            text-align: center;

            @media(max-width:768px) {
                font-size: 12px;
            }
        }

        .p-dropdown-items-wrapper::-webkit-scrollbar {
            display: none;
        }

        .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
            color: $bg-primary;
            background: #ebebeb;
        }
    }

    .p-dropdown:not(.p-disabled):hover {
        border-color: $bg-primary;
        box-shadow: rgba(245, 245, 245, 1);
    }

    .p-dropdown:not(.p-disabled).p-focus {
        box-shadow: unset;
        border-color: unset;
    }

    .p-dropdown .p-dropdown-trigger {
        color: white;
    }

    .p-dropdown-trigger {
        justify-content: normal;
    }
}

app-profile-details {

    .p-dialog {
        width: 350px;

        @media(max-width:500px) {
            width: auto;
        }
    }

    .p-dialog-header {
        justify-content: center;
    }

    .pi {
        font-size: 1.5rem;
    }

    .p-dialog .p-dialog-footer {
        display: flex;

        button {
            width: 100%;
        }
    }

    .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
        margin-left: 0;
        width: 100%;
    }

    @media(max-width:768px) {
        .pi {
            font-size: 1rem;
        }
    }
}

app-contact {

    .iti {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        background-color: #F5F5F5;
        border: 0px;
        padding: 10px;
        border-radius: 5px;
    }

    .iti--allow-dropdown input {
        padding-left: 0px !important;
    }

    .iti__flag-container {
        display: flex;
        align-items: center;
        right: 0 !important;
        left: auto !important;
    }

    ngx-intl-tel-input {
        input {
            background-color: #F5F5F5;
        }

        input:focus-visible {
            border: 0;
            outline: white;
        }
    }

    .dropdown-menu {
        inset: 100% auto auto -337px !important;
    }

    .dropdown-menu.show {
        overflow: scroll;
        max-height: 200px;
    }

    textarea:focus-visible {
        outline: white;
    }

    .p-inputtext:enabled:focus {
        box-shadow: none;
        border-color: unset;
    }
}

.p-inputtext {
    background: #FFFFFF3D;
}

.p-input-icon-left>p-password>div>input {
    padding-left: 2rem;
}

.p-inputtext,
.p-password {
    width: 100%;
    background: #FFFFFF3D;
}

.p-inputtext {
    background: #FFFFFF3D;
    border: 0;
    color: #fafafa;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: unset;
}

.pi-spin {
    animation: fa-spin 1s infinite linear !important;
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

// /* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";