/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

button {
    font-family: 'Quicksand';
}

h2 {
    font-size: 40px;
}

.p-inputtext {
    background: #FFFFFF3D;
}

.p-input-icon-left>p-password>div>input {
    padding-left: 2.5rem;
}

.p-inputtext,
.p-password {
    width: 100%;
    background: #FFFFFF3D;
}

.p-inputtext {
    background: #FFFFFF3D;
    border: 0;
    color: #fafafa;
}