<div class="min-h-screen flex items-center justify-center bg-cover bg-center bg-gradient-overlay">
    <div class="text-[#fafafa] bg-opacity-90 p-8 rounded-lg shadow-lg max-w-md w-full">
        <h2 class="text-2xl font-bold mb-6 text-center text-secondary">Sign In</h2>
        <p class="text-center mb-6 text-[#fafafa]">Sign in to access exclusive <span class=" text-secondary">deals &
                discounts;</span>
            <br> access a comprehensive
            range of items
            for <br> purchase.
        </p>
        <form>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium">Email</label>
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-envelope text-[#fafafa]"></i>
                    <input pInputText id="email" type="email" placeholder="Enter your email address"
                        class="mt-1 block w-full text-[#fafafa] p-2 border-0 rounded-md shadow-sm  sm:text-sm">
                </span>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium">Password</label>
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-lock z-10  text-[#fafafa]"></i>
                    <input pInputText id="password" type="password" placeholder="Enter your password"
                        class="mt-1 block w-full text-[#fafafa] p-2 border-0 rounded-md shadow-sm  sm:text-sm">
                </span>
            </div>
            <div class="mb-6 text-right">
                <a routerLink="/reset-password" class="text-sm font-semibold hover:underline text-secondary">Forgot
                    Password?</a>
            </div>
            <button routerLink="/home" type="submit"
                class="w-full bg-secondary text-primary-btn justify-center font-bold py-2 px-4 rounded-md">Sign
                In</button>
        </form>
        <p class="mt-4 text-center">Don't have an account? <a routerLink="/" class="hover:underline text-secondary">Sign
                Up</a>
        </p>
    </div>
</div>