.bg-gradient-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 12.46%, rgba(102, 102, 102, 0.216) 100%), url('../../../../../assets/register/Rectangle\ 6212.png');
    background-size: cover;
    background-position: center;
}

i {
    z-index: 1;
}

.p-inputtext {
    background: #FFFFFF3D;
    backdrop-filter: blur(10.9px);
    border: 0;
    color: #fafafa;
}

.p-input-icon-left>.p-icon-wrapper.p-icon,
.p-input-icon-left>i:first-of-type {
    color: #DCDCDCDC;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: none;
}
button{
    opacity: 1;
}
button:enabled:active{
    opacity: 0.8;
}