.bg-gradient-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 12.46%, rgba(102, 102, 102, 0.216) 100%), url('../../../../../assets/register/Rectangle\ 6212.png');
    background-size: cover;
    background-position: center;
}

.p-inputtext {
    // background: #FFFFFF3D;
    border: 0;
    color: #fafafa;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10.9px);
}

i {
    z-index: 1;
}

.p-input-icon-left>.p-icon-wrapper.p-icon,
.p-input-icon-left>i:first-of-type {
    color: #DCDCDCDC;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: none;
}

.file-upload-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10.9px);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload-label {
    display: block;
    cursor: pointer;
    color: #666;
}

.file-upload-label i {
    font-size: 48px;
    color: #ccc;
}

.file-upload-label p {
    margin: 0;
    font-size: 16px;
}

.file-upload-container input[type="file"] {
    display: none;
}

.file-details {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}

.file-details p {
    margin: 0;
    font-size: 16px;
}

.file-details button {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #e74c3c;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.file-details button:hover {
    color: #c0392b;
}